<!DOCTYPE HTML><html><head>
     <title>Cours de musique</title>
     <meta charset="UTF-8">
     <meta http-equiv ="X-UA Compatible" content="IE=edge,chrome=1">
     <!--[if IE]><![endif]-->

     <link rel="stylesheet" type="text/css" href="css/test.css">
     <link rel="stylesheet" type="text/css" href="css/reset.css">
     <link rel="stylesheet" type="text/css" href="css/style.css">

     <!--[if lt IE 9]>     <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>     <![endif]-->

</head>

<body>
     <script scr="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


     <h1>ACCEUIL</h1>

</body>
</html>
