{% extends "base.html" %}
{% block content %}
{% load i18n %}


<div class="wrap_slideshow">
     <div class="slideshow"></div>

</div>

<div class="acc_bienvenu container_24">
     <div id="acc_titre" class="milieu ">{{ generique.titreAcceuil }}</div>
     <div id="acc_text" class="grid_24">{{ generique.texteAcceuil|safe }}</div>

</div>


<div class="acc_showcase container_24">
     <div class="acc_cours grid_24">
          <div class="acc_section_titre milieu ">Cours</div>
          <ul>
               {% for c in cours %}
               <li class="grid_6 prefix_1">
                    <span class="acc_c_instrument" >{{c.instrument}}</span>
                    <div class="acc_c_description">{{c.description |safe}}</div>
               </li>

               {% endfor %}
          </ul>
     </div>



     <div class="acc_professeurs grid_12">
         <div class="acc_section_titre milieu">Professeurs</div>
         <ul class="acc_liste_professeur">
           {% for p in professeurs %}
           <li>
                 <img class="grid_2" src="{{ p.photo.get_thumbnail_url }}" alt="">
                 <div class="acc_nom_professeur"><a href="/Professeurs#{{p.prenom}}{{ p.nom }}">{{p.prenom}} {{ p.nom }}</a></div>
           </li>
            {% endfor %}
          </ul>

     </div>

<div class="acc_services grid_12">
    <div class="acc_section_titre milieu">Autres Services</div>
    <ul class="acc_liste_services">
      {% for s in autresServices %}
      <li>
        {{s.nom}}
      </li>
      {% endfor %}
    </ul>

</div>

</div>

{% endblock %}
