

header,section,article,nav,footer {
    display:block;}

ul li{
    list-style-type:none;
}

.navigation-wrap{
 margin-left: auto;
 margin-right: auto;

}
.nav_bar{
    width: 64%;
    margin: 0 auto;
 /* margin-left: auto;
 margin-right: auto;
 width:600px; */

}
nav.nav_bar ul{
    display: inline;
    list-style-type: none;
    float:left;
}

nav.nav_bar ul li{
display: inline;
list-style-type: none;
padding-right: 20px;

}

.acc_cours ul li{
    display: inline;
    list-style-type: none;
    overflow: hidden;
    height: 190px;
    margin-bottom: 30px;
}

.milieu{
    margin-right: auto;
    margin-left: auto;
    width:100px;


}

ul.acc_liste_professeur li {
  padding-bottom: 52px;
}

.acc_nom_professeur {
    padding-left: 80px;

}


a {
    color: #0254EB
}
a:visited {
    color: #0254EB
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}
/***********************
  PROFESSEUR
***********************/
.prof_liste li{
    padding-bottom: 90px;
    height: 150px;

}
.prof_photo{
    width:180px;

}
.prof_instru{
    float:right;
}

/***********************
  COURS
***********************/
.cours_liste li{
    padding-bottom: 90px;
    height: 150px;

}



/***********************
  AUTRES SERVICES
***********************/
